button {
  appearance: none;
  border: none;
  background-color: rgb(63, 71, 71);
  color: white;
  padding: 15px;
  width: 100px;
  box-sizing: border-box;
}

.header-btn {
  font-size: 20px;
}

.top-nav {
  display: flex;
  float: left;
  overflow: hidden;
  min-width: 100vw;
}

.item-btn:hover {
  background-color: rgb(104, 113, 113);
}

.container {
  display: flex;
  flex-direction: column;
}

/* CAROUSEL */
img {
  width: 500px;
  border-radius: 10px;
}

body {
  display: flex;
  justify-content: center;
}

.carousel-frame {
  display: flex;
  width: 600px;
  justify-content: center;
  align-items: center;
}

.image-display {
  display: flex;
  width: 600px;
  align-items: center;
  overflow: hidden;
}

.prev-btn,
.next-btn {
  appearance: none;
  border: none;
  border-radius: 50px;
  font-size: 30px;
  background-color: rgb(63, 71, 71);
  color: white;
  padding: 15px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  text-align: center;
}

.fade-out {
  transition: opacity 1s;
  opacity: 0;
}

.fade-in {
  transition: opacity 1s;
  opacity: 1;
}

.move-left {
  transition: translate 1s ease-in-out;
  translate: -500px;
}

.move-right {
  transition: translate 1s ease-in-out;
  translate: 500px;
}

.hide {
  display: none;
}

.show {
  display: block;
}
.nav-circles {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.circle {
  appearance: none;
  border: none;
  background-color: rgb(188, 188, 188);
  border-radius: 50px;
  width: 20px;
  height: 20px;
}

.selected {
  background-color: rgb(66, 66, 66);
}
